html,
body {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.game-box {
  background: lightblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark-selector {
  margin-bottom: 20px;
}

.mark-selector h2 {
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  border: none;
  background: #eee;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 0.3s;
  margin: 0 10px;
}

.btn:hover {
  background: #ddd;
  color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.m-t-5 {
  margin-top: 5vh;
}

.board {
  background: lightskyblue;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.cell {
  border: none;
  background: lightcyan;
  color: darkslategray;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all ease 0.3s;

  height: 20vw;
  max-height: 150px;
  width: 20vw;
  max-width: 150px;
  position: relative;
}
.cell.ai:before,
.cell.ai:after {
  animation-delay: 0.5s !important;
}
.cell.tie {
  background-color: lightgoldenrodyellow;
  border: 1px solid palegoldenrod;
}
.cell.winner {
  background-color: lightgreen;
  border: 1px solid greenyellow;
}
.cell:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.cell.cross:before,
.cell.cross:after {
  content: '';
  height: 100px;
  background-color: darkslategray;
  position: absolute;
  left: 50%;
  top: 50%;
}

.cell.cross:before {
  animation: 0.5s alternate forwards crossLeft;
}
.cell.cross:after {
  animation: 0.5s alternate forwards crossRight;
}

@keyframes crossLeft {
  0% {
    width: 1px;
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes crossRight {
  0% {
    width: 1px;
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    width: 10px;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.cell.circle:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cell.circle:before {
  animation: 0.5s alternate forwards circleGrow;
}

@keyframes circleGrow {
  0% {
    width: 20px;
    height: 20px;
    border: 5px solid darkslategray;
  }
  100% {
    width: 80px;
    height: 80px;
    border: 10px solid darkslategray;
  }
}

@media (max-width: 425px) {
  .cell.cross:before,
  .cell.cross:after {
    height: 5vh;
  }

  @keyframes circleGrow {
  0% {
    width: 10px;
    height: 10px;
    border: 3px solid darkslategray;
  }
  100% {
    width: 3vh;
    height: 3vh;
    border: 5px solid darkslategray;
  }
}
}
